@import url('https://fonts.googleapis.com/css2?family=Inter&family=Shadows+Into+Light&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  cursor: auto;
}
body {
  height: 100vh;
  overflow: hidden;
}

.navbar {
  font-size: 4rem;
  font-family: 'Shadows Into Light', cursive;
  padding: 15px;
  height: 130px;
  text-align: center;
}

.main {
  padding: 20px;
  width: 100%;
  height: calc(100% - 130px);
  display: flex;
  background: url('./../images/background5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  align-items: center;
  justify-content: space-around;
}
.tagline-wrapper {
  text-align: center;
}

.tagline-item {
  font-size: 4rem;
  margin: 20px 0px;
  font-family: 'Shadows Into Light', cursive;
  color: white;
}

.create-repo-form {
  width: 40%;
  padding: 40px 30px 20px 30px;
  background-color: #079992;
  color: white;
  -webkit-box-shadow: 0px 2px 25px -5px grey;
}

.create-repo-form > * {
  width: 100%;
  margin-bottom: 20px;
}

.create-repo-form > div:first-child {
  margin-bottom: 40px;
}

.create-repo-form > div:last-child {
  margin-bottom: 0px;
}

#create-repo-form-name,
#create-repo-form-desc,
#create-repo-form-lang {
  outline: none;
  border: none;
  padding: 10px;
  font-size: 1rem;
}

#create-repo-form-desc {
  resize: vertical;
}

.create-repo-form-submit-btn {
  padding: 15px;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  margin: 10px 0px;
  font-size: 1.1rem;
}

@media screen and (max-width: 1041px) {
  .main {
    flex-direction: column;
    height:unset;
  }

  body {
    height: unset;
    overflow: unset;
  }

  .create-repo-form {
    order: 1;
    width: 100%;
    margin-top: 100px;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    font-size: 3rem;
    height: 110px;
  }
}
